<div class="info-footer">
    <table>
        <tr>
            <td>
                <div class="contact footer-item">
                    <div class="footer-item-title">Contact Us</div>
                    <div>054-4456148<br/>
                        Sunday-Thursday<br/>
                        9:00-21:00<br/>
                        dorfellus@gmail.com</div>
                </div>
            </td>
            <td>
                <div class="my-account footer-item">
                    <div class="footer-item-title">My Account</div>
                    <a href="">My Orders</a>
                    <a href="">My WishList</a>
                    <a href="">My Account Settings</a>
                </div>
            </td>
            <td>
                <div class="general-info footer-item">
                    <div class="footer-item-title">General Info</div>
                    <a href="#!/About">About Us</a>
                    <a href="">Shipping and Returns</a>
                    <a href="">Size Guide</a>
                    <a href="">FAQs</a>
                </div>
            </td>
            <td>
                <div class="follow-us footer-item">
                    <div class="footer-item-title">Follow Us</div>
                    <div class="social-img">
                        <a href=""><img src="img/social_nets icons/inst-icon.png" alt="Instagram"></a>
                    </div>
                    <div class="social-img">
                        <a href=""><img src="img/social_nets icons/facebook-icon.png" alt="Facebool"></a>
                    </div>
                    <div class="social-img">
                        <a href=""><img src="img/social_nets icons/twitter-icon.png" alt="Twitter"></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>