<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <div class ='logo'>
                Dorothy's Closet
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!/Home" id="homeButton">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/Shop" id="shopButton">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/About" id="aboutButton">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/Contact" id="contactButton">Contact</a>
                </li>
                <div class="my-cart">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="nav-link" href="">My Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>
</div>