.About{
	padding-top: 100px;
	flex-direction: column;
	font-size: 20px;
	font-family: Courier;
}

.About p{
	text-align: center;
}
.About .title{
	text-align: center;
	color: #6c6c6d;
	margin-bottom: 40px;
	font-size: x-large;
}
.About .Employee{
	width: 60%;
	margin: auto;
}

.About .Employee img{
	width: 200px;
	height: 200px;
	border: 2px dashed #5b5b5b;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	border-radius: 10px;
}

.About .Employee::After{
	clear: both;
	content: "";
	display: block;
}

.About .Emp-Desc{
	float: left;
}

.About .Employee h5{
	font-weight: bold;
	font-size: 25px;
	color: #c1556e;
}

.About .Emp_Desc p{
	font-style: italic;
	color: grey;
	font-size: 14px;
	text-align: left;
}