.Contact{
    padding-top: 100px;
    font-family: Courier;
    margin-bottom: 60px;
}
.Contact_Form{
    margin: auto;
    width: 50%;
    border: 0.5px solid #454a50;
    border-radius: 10px;
    padding: 20px;
}

.Contact_Form .Contact_Title{
    background-color: #ea938c;
    color: white;
    text-align: center;
    height: 30px;
    Opacity: 0.7;
    margin-bottom: 20px;
    padding: 0px;
    top: 0px;
    left: 0px;
    border-radius: 10px;
}

.Contact_Form .Form_Row{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Contact_Form .Form_Row label{
    flex: 1;
}

.Contact_Form .Form_Row input{
    flex: 1;
    border-radius: 10px
}
.Contact_Form .Form_Row textarea{
    flex: 1;
    border-radius: 10px
}

.Contact_Form .Submit{
    text-align: center;
}