.info-footer{
    margin-top: 50px;
    background-color: #f4f4f4;
    width: 100%;
    min-height: 170px;
    padding-bottom: 20px;
    font-family: Courier;
    z-index: 100;
}
.info-footer td{
    vertical-align: top;
}
.info-footer .footer-item{
    margin: 20px 30px;
}
.info-footer .footer-item-title{
    font-size: large;
    font-weight: bold;
}
.info-footer a{
    display: block;
    text-decoration: none;
    font-size: small;
    color: #6a6161;
}
.info-footer div{
    font-size: small;
    color: #6a6161;
}
.info-footer .follow-us .social-img{
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
.info-footer .follow-us .social-img img{
    object-fit: fill;
    width: 20px;
    height: 20px;
}