.header{
    position: fixed;
    z-index: 100;
    width: 100%;
    font-family: Courier;
}
.header .navbar{
    height: 50px;
}

.header #navbarNav.navbar-collapse.collapse.show .my-cart{
    right: auto;
    position: initial;
}
.header .navbar-brand{
    color: #434343 !important;
}
.header .navbar #navbarNav{
    position: relative;
}
.header .navbar .my-cart{
    position: absolute;
    right: 0;
}
.header .navbar-light{
    background-color: #f7d8d0 !important;
}

.header .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white !important;
}
.navbar-collapse {
    background: #f7d8d0;
}

.header a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
    cursor: pointer;
}