.item-preview{
    float: left;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 20px;
    width: auto;
    height: 450px;
}
.item-preview:hover{
    cursor: pointer;
}
.item-preview:hover .name{
    text-decoration: underline;
}
.item-preview img{
    width: auto;
    height: 420px;
    margin-bottom: 15px;
}
.item-preview .name{
    text-align: center;
    font-size: 13px;
    height: 15px;
}
.item-preview .price{
    text-align: center;
    color: red;
    font-size: 13px;
    height: 15px;
}