.item-page{
    text-align: center;
    margin: 0 0 40px 0;
    padding-top: 110px;
    width: auto;
    height: 720px;
    font-family: Courier;
}
.item-page .back-link{
    width: 20%;
    float: left;
    color: black;
    text-decoration: none;
    font-size: medium;
}
.item-page .back-link:hover {
    text-decoration: underline;
}
.item-page .item-img{
    float: left;
    width: 30%;
}

.item-page .item-img img{
    width: auto;
    height: 520px;
    text-align: center;
}
.item-page .item-desc{
    float: right;
    width: 50%;
}
.item-page .item-desc .name{
    font-size: x-large;
    margin-bottom: 30px;
    text-align: center;
}
.item-page .item-desc .price{
    text-align: center;
    font-size: medium;
    margin-bottom: 30px;
}

.item-page .item-desc .btn-outline-danger{
    margin-bottom: 30px;
    border-color: salmon;
    color: salmon;
}
.item-page .item-desc .btn-outline-danger:hover{
    background-color: salmon;
    color: white;
}
