.shop{
    margin: auto;
    width: 980px;
    padding-top: 70px;
    font-family: Courier;
}
.shop::after{
    clear: both;
    display: block;
    content: "";
}
.shop .sale-banner{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    padding: 2px;
    text-align: center;
    margin-bottoms: 5px;
}
.shop .shop-banner{
    margin: 15px;
}
.shop .shop-banner img{
    text-align: center;
    width: 100%;
    height: auto;
}
.shop .shop-title{
    margin-bottom: 15px;
    color: black;
    font-size: x-large;
    text-align: center;
}