[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.home{
	padding-top: 50px;
	font-family: Courier;
}
.opening-sentence{
	text-align: center;
	color: salmon;
	height: 40px;
	padding-top: 10px;
}
.home .carousel{
	width: 100%;
	margin: auto;
	max-height: 500px;
	/*height: calc(100vh - 90px);*/
}
.home .carousel-item{
	max-height: 500px;
	/*height: calc(100vh - 90px);*/
}
.home .carousel-item img{
	max-height: 500px;
	object-fit: cover;
	object-position: top;
	/*height: calc(100vh - 90px);*/
}

.home .carousel-item a {
    position: absolute;
	text-decoration: none;
    font-weight: bold;
}
.home .carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%5b5b5c' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.home .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%5b5b5c' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.home .first-slide .title {
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	top: 45%;
	left: 52%;
	transform: translate(-50%, -90%);
	z-index: 1;
	/*color: salmon;*/
}
.home .first-slide .shop-link{
	left: 52%;
    top: 60%;
    transform: translate(-50%, -90%);
	text-align: center;
    font-size: large;
    color: salmon;
    background-color: white;
    border: 2px solid salmon;
	border-radius: 10px;
	padding: 9px;
    opacity: 0.8;
	font-family: Courier;
}
.home .first-slide .shop-link:hover{
	opacity: 1;
}

.home .second-slide .shop-link{
	left: 6%;
	top: 29%;
	text-decoration: none;
	color: white;
	font-size: large;
}
.home .second-slide .shop-link:hover{
	text-decoration: underline;
}
.home .mini-banners{
	margin-top: 40px;
	text-align: center;
}

.home .mini-banners .mini-banner {
	display: inline-block;
	width: 270px;
	height: 270px;
	margin: 20px;
}
.home .mini-banners .img-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: fill;
	max-width: 100%;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}
.home .mini-banners .mini-banner:hover .img-thumbnail {
	cursor: pointer;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.home .insta-feed-title{
    color: salmon;
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.home .insta-feed-title img{
    display: inline-block;
    width: 20px;
    height: 20px;
}



