<div class= "About">
	<div class="title">About Us:</div>
	<div class="Employee">
		<img src="img/dor.jpg" title="Dor Fellus">
		<div class="Emp_Desc">
			<h5>Dor Fellus - CEO</h5>
			<p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Blala Bla Bla Bla Bla Blala Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
		</div>
	</div>
	<div class="Employee">
		<img src="img/Hila.png" title="Hila Levy">
		<div class="Emp_Desc">
			<h5>Hila Levy - Buyer</h5>
			<p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Blala Bla Bla Bla Bla Blala Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
		</div>
	</div>
	<div class="Employee">
		<img src="img/Hila.png" title="Neta Cohen">
		<div class="Emp_Desc">
			<h5>Neta Cohen - Assistant Buyer</h5>
			<p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Blala Bla Bla Bla Bla Blala Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
		</div>
	</div>
</div>
