<div class="Contact">
	<form class="Contact_Form">
		<div class="Contact_Title">
			<h4>Contact Us:</h4>
		</div>
		<div class="Form_Fields">
			<div class="Form_Row">
				<label for="UserName">Name: </label>
				<input type="text" name="UserName" id="UserName" required>
			</div><br/>
			<div class="Form_Row">
				<label for="UserEmail">Email: </label>
				<input type="Email" name="UserEmail" id="UserEmail" required>
			</div><br/>
			<div class="Form_Row">
				<label for="UserPhone">Phone: </label>
				<input type="Phone" name="UserPhone" id="UserPhone">
			</div><br/>
			<div class="Form_Row">
				<label for="UserMessage">Message: </label>
				<textarea name="UserMessage" id="UserMessage" rows="4" cols="50" placeholder="Please Enter Your Message Here..." required></textarea>
			</div><br/>
			<div class="Submit">
				<button type="submit" class="btn btn-light">Submit</button>
			</div>
		</div>
	</form>
</div>
