<div class="home">
    <div class="opening-sentence">
        <i class="fas fa-bicycle"></i> LIFE ISN'T PERFECT BUT YOUR OUTFIT CAN BE <i class="fas fa-bicycle"></i>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item first-slide active">
                <img class="d-block w-100" src="img/banner1.jpeg" alt="First Slide">
                <div class="title">Welcome to Dorothy's Closet!</div>
                <a class="shop-link" href=#!/Shop>Start Shopping >></a>
            </div>
            <div class="carousel-item second-slide">
                <img class="d-block w-100" src="img/banner4.jpg" alt="Second Slide">
                <a class="shop-link" href=#!/Shop>Shop the New Collection >></a>
            </div>
            <div class="carousel-item third-slide">
                <img class="d-block w-100" src="img/banner7.jpg" alt="Third Slide">
            </div>
        </div>
        <a class="carousel-control-prev" data-target="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-target="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="mini-banners">
        <div class="mini-banner">
            <!--<div class="img-thumbnail delivery-banner"></div>-->
            <img src="img/Free-Delivery1.jpg" alt="Free Delivery Banner" class="img-thumbnail">
        </div>
        <div class="mini-banner">
            <!--<div class="img-thumbnail sale-banner"></div>-->
            <img src="img/Sale-banner.jpg" alt="Sale Banner" class="img-thumbnail">
        </div>
        <div class="mini-banner">
            <!--<div class="img-thumbnail accessories-banner"></div>-->
            <img src="img/Accessories-Sale6.jpg" alt="Accessories Sale Banner" class="img-thumbnail">
        </div>
    </div>

    <div class="insta-feed-title">
        Follow us on Instagram!
        <img src="img/social_nets icons/inst-icon.png" alt="Instagram">
    </div>

    <!--Instagram Widget-->
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-ae47ba4c-4711-43c6-b7d0-3b4ab9d558b3"></div>
</div>