<div class="item-page">
    <a class="back-link" href="#!/Shop">< Back to Shop</a>
    <div class="item-img">
        <img ng-src="{{img}}" alt="Item Image">
    </div>
    <div class="item-desc">
        <div class="name">{{name}}</div>
        <div class="price">{{price}}</div>
        <button type="button" class="btn btn-outline-danger">Buy Now</button>
    </div>
</div>