<div class="shop">
    <div class="sale-banner">
        Up to 80% off Accessories only this weekend! Don't miss out!
    </div>
    <div class="shop-banner">
        <img src="img/shopheader.jpg" alt="Shop Header Banner">
    </div>
    <div class="shop-title">New Arrivals</div>
    <item-preview ng-repeat="item in items"
                  id="item.ID" name="item.itemName" price="item.itemPrice" img="item.imgURL">
    </item-preview>
</div>